<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <style type="text/css">
        .chartBox {
            width: 400px;
        }
    </style>
</head>
<body>
    
    <!-- <div class="chartBox">
        <canvas id="myChart"</canvas>
    </div>
    <script>
    // setup 
    const data = {
        //labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: 'nb of Votes',
            data: [2, 3, 4, 2],
            // data: [
            // { x: '2021-06-25', y: 20 },
            // { x: '2021-06-26', y: 40 },
            // { x: '2021-06-27', y: 30 },
            // { x: '2021-06-28', y: 20 },
            // { x: '2021-06-29', y: 50 },
            // { x: '2021-06-30', y: 50 },
            // { x: '2021-07-01', y: 20 }
            // ],
            // //data: [12, 19, 3, 5, 2, 3],
            // backgroundColor: [
            //     'rgba(255, 99, 132, 0.2)',
            //     'rgba(54, 162, 235, 0.2)',
            //     'rgba(255, 206, 86, 0.2)',
            //     'rgba(75, 192, 192, 0.2)',
            //     'rgba(153, 102, 255, 0.2)',
            //     'rgba(255, 159, 64, 0.2)'
            // ],
            // borderColor: [
            //     'rgba(255, 99, 132, 1)',
            //     'rgba(54, 162, 235, 1)',
            //     'rgba(255, 206, 86, 1)',
            //     'rgba(75, 192, 192, 1)',
            //     'rgba(153, 102, 255, 1)',
            //     'rgba(255, 159, 64, 1)'
            // ],
            borderWidth: 1
        }]
    };

    // config
    const config = {
        type: 'bar',
        data: data,
        // options: {
        //     scales: {
        //         x: {
        //             type: 'time',
        //             time: {
        //                 unit: 'day'
        //             }
        //         },
        //         y: {
        //             beginAtZero: true
        //         }
        //     }
        // }
    };

    // render/init
    const myChart = new Chart(
            document.getElementById('myChart'),
            config
    );
    </script>
     -->

    <div style="width:75%;">

    <script>
        function myConfig(labels, values, chart_type) {
            // var timeFormat = 'yyyy/MM/dd H:mm:ss';
            var timeFormat = 'yyyy/MM/dd';

            var a = [];
            for (i=0; i<labels.length; i++) {
                b = { x : labels[i], y : values[i] };
                a.push(b);
            }
            data_array_1a = a;

            var xA = [{
                            type:       "time",
                            time:       {
                            //     format: timeFormat,
                            //     // unit: 'day',
                            parser: 'yyyy-MM-dd H:m:s'
                            //     tooltipFormat: 'll'
                            },
                            scaleLabel: {
                                display:     true,
                                labelString: 'Date'
                            }
                        }];
            var yA = [{
                            scaleLabel: {
                                display:     true,
                                labelString: 'value'
                            }
                        }];
            var scales1 = {
                        xAxes: xA,
                        yAxes: yA
                    };

            var options1 = {
                    responsive: true,
                    title:      {
                        display: true,
                        text:    "Chart.js Time Scale"
                    },
                    scales:     scales1
                };
            var config1 = {
                //type: "line",
                //type: "bar",
                type: chart_type,
                data: {
                    labels: labels,    //{{ labels | safe }},
                    datasets:[
                        {
                            label: "temperature",
                            data: data_array_1a,
                            fill: false,
                            borderColor: "rgb(75, 192, 192)",
                            lineTension: 0.1
                        }
                    ]
                },
                options: options1
            };
        return config1;
        }
    </script>

<canvas id="canvas_frigo_1h" width="900" height="400"></canvas>
<script>
    values = {{ frigo_1h_chart.values|safe }}
    labels = {{ frigo_1h_chart.labels|safe }}
    //chart_type = {{ frigo_1h_chart.chart_type|safe }}
    chart_type = "line";
    
    config = myConfig(labels, values, "line");

    var ctx = document.getElementById("canvas_frigo_1h").getContext("2d");
    var lineChart = new Chart(ctx, config);
</script>

<canvas id="canvas_frigo_10h" width="900" height="400"></canvas>
<script>
    values = {{ frigo_10h_chart.values|safe }}
    labels = {{ frigo_10h_chart.labels|safe }}
    //chart_type = {{ frigo_10h_chart.chart_type|safe }}
    chart_type = "line";
    
    config = myConfig(labels, values, "line");
    var ctx = document.getElementById("canvas_frigo_10h").getContext("2d");
    var lineChart = new Chart(ctx, config);
</script>

<canvas id="canvas_ps4" width="900" height="400"></canvas>
<script>
    values = {{ ps4_chart.values|safe }}
    labels = {{ ps4_chart.labels|safe }}
    // chart_type = {{ ps4_chart.chart_type|safe }} 
    chart_type = "bubble";
    
    config = myConfig(labels, values, chart_type);

    var ctx = document.getElementById("canvas_ps4").getContext("2d");
    var lineChart = new Chart(ctx, config);
</script>

<canvas id="canvas3"></canvas>
    </div>
    <script>
        var timeFormat = 'dd/MM/yyyy';
        var data31 = [{
                            x: "04/01/2014", y: 175
                        }, {
                            x: "10/01/2014", y: 175
                        }, {
                            x: "04/01/2015", y: 178
                        }, {
                            x: "10/01/2015", y: 178
                        }];
        var data3 = {
                datasets: [
                    {
                        label: "US Dates",
                        data: data31,
                        fill: false,
                        borderColor: 'red'
                    },
                    {
                        label: "UK Dates",
                        data:  [{
                            x: "01/04/2014", y: 175
                        }, {
                            x: "01/10/2014", y: 175
                        }, {
                            x: "01/04/2015", y: 178
                        }, {
                            x: "01/10/2015", y: 178
                        }],
                        fill:  false,
                        borderColor: 'blue'
                    }
                ]
            };
            // console.log(data3);
            var options3 = {
                responsive: true,
                title:      {
                    display: true,
                    text:    "Chart.js Time Scale"
                },
                scales:     {
                    xAxes: [{
                        type:       "time",
                        time:       {
                            format: timeFormat,
                            tooltipFormat: 'll'
                        },
                        scaleLabel: {
                            display:     true,
                            labelString: 'Date'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display:     true,
                            labelString: 'value'
                        }
                    }]
                }
            };
            var config3 = {
            type: 'line',
            data: data3,
            options: options3
            // options: {}
            };

// -------------------------
//         const labels3 = [
//             'January',
//             'February',
//             'March',
//             'April',
//             'May',
//             'June',
//             ];
//         const data3 = {
//             labels: labels3,
//             datasets: [{
//                 label: 'My First dataset',
//                 backgroundColor: 'rgb(255, 99, 132)',
//                 borderColor: 'rgb(255, 99, 132)',
//                 data: [0, 10, 5, 2, 20, 30, 45],
//             }]
//         };
//         const config3 = {
//             type: 'line',
//             data: data3,
//             options: {}
//             };
    const myChart3 = new Chart(
        document.getElementById('canvas3'),
        config3
    );
    </script>

     <div style="width:75%;">
        <canvas id="canvas4"></canvas>
    </div>
    <script>
        const labels4 = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            ];
        const data4 = {
            labels: labels4,
            datasets: [{
                label: 'My second dataset',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        };
        const config4 = {
            type: 'line',
            data: data4,
            options: {}
            };
    const myChart4 = new Chart(
        document.getElementById('canvas4'),
        config4
    );
    </script>

</body>
</html>