<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Getting Started with Chart JS with www.chartjs3.com</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    .chartMenu {
      width: 100vw;
      height: 40px;
      background: #1A1A1A;
      color: rgba(255, 26, 104, 1);
    }

    .chartMenu p {
      padding: 10px;
      font-size: 20px;
    }

    .chartCard {
      width: 100vw;
      height: calc(100vh - 40px);
      background: rgba(255, 26, 104, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .chartBox {
      width: 700px;
      padding: 20px;
      border-radius: 20px;
      border: solid 3px rgba(255, 26, 104, 1);
      background: white;
    }
  </style>
</head>

<body>
  <div class="chartMenu">
    <p>WWW.CHARTJS3.COM (Chart JS 3.7.1)</p>
  </div>
  <div class="chartCard">
    <div class="chartBox">
      <canvas id="myChart"></canvas>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>

    // setup 

    const data = {
      labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
      datasets: [{
        label: 'Weekly Sales',
        data: [18, 12, 6, 9, 12, 3, 9],
        tension: 0.3,
        backgroundColor: 'green',
        borderColor: 'blue',
        borderWidth: 1,
        yAxisID: 'y'
      },
      {
        label: 'percentage',
        data: [50, 55, 35, 63, 60, 70, 65],
        backgroundColor: 'rgba(0, 26, 104, 0.2)',
        borderColor: 'red',
        borderWidth: 1,
        tension: 0.3,
        yAxisID: 'y2'
      }]
    };


    const horizontalArbitraryLine_old = {
      id: 'horizontalArbitraryLine',
      beforeDraw(chart, args, options) {
        console.log("in beforeDraw of %s", chart.canvas.id);
        // console.log("chart: %o", chart)
        // console.log("canvas: %s", chart.canvas.id)
        const { ctx, chartArea: { top, right, bottom, left, width, height }, scales: { x, y } } = chart;
        ctx.save();

        // ctx.strokeStyle = 'green';
        // ctx.strokeRect(120, 40, 200, 5);

        ctx.beginPath();
        ctx.moveTo(left, 100);
        ctx.lineTo(left + width, 100);
        ctx.strokeStyle = 'green';
        ctx.stroke();

      },
      afterDraw(chart, args, options) {
        console.log("in afterDraw of %s", chart.canvas.id);
      }
    }

    
    var displayPictPlugin = {
      id: 'displayPictPlugin',
      beforeDraw: function (chartInstance, args, options) {

        const { ctx, chartArea: { top, right, bottom, left, width, height }, scales: { x, y } } = chartInstance;
        ctx.save();

        const text = "my button";
        ctx.font = '12px Arial';
        const textWidth = ctx.measureText(text).width;
        console.log(textWidth);

        ctx.textAlign = 'left';
        ctx.fillStyle = '#666';
        ctx.fillText(text, right - textWidth, 10)

        //background
        ctx.fillStyle = 'red';
        ctx.fillRect(right - textWidth, 10, textWidth, 15)

        // var yScale = chartInstance.scales["y"];

        // // chartInstance.chart is undefined
        // //var canvas = chartInstance.chart;
        // // console.log(canvas);
        // // var ctx = canvas.ctx;
        // var index;
        // var line;
        // var style;

        // // console.log("ctx : %o", ctx);
        // ypix = y.getPixelForValue(16);
        // console.log("y pixel : %f", ypix);
        // ctx.strokeStyle = 'green';
        // ctx.strokeRect(120, ypix, 200, 5);


        // if (chartInstance.options.horizontalLine) {
        //   for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
        //     line = chartInstance.options.horizontalLine[index];

        //     if (!line.style) {
        //       style = "rgba(169,169,169, .6)";
        //     } else {
        //       style = line.style;
        //     }

        //     if (line.y) {
        //       yValue = yScale.getPixelForValue(line.y);
        //     } else {
        //       yValue = 0;
        //     }

        //     ctx.lineWidth = 3;

        //     if (yValue) {
        //       ctx.beginPath();
        //       ctx.moveTo(left, yValue);
        //       ctx.lineTo(left + width, yValue);
        //       ctx.strokeStyle = style;
        //       ctx.stroke();
        //     }

        //     if (line.text) {
        //       ctx.fillStyle = style;
        //       ctx.fillText(line.text, left, yValue - ctx.lineWidth - 6);
        //     }
        //   }
        //   // ctx.restore();
        //   return;
        // }
      }
    };


    var horizontalLinePlugin = {
      id: 'horizontalLine',
      afterDraw: function (chartInstance) {
        var yScale = chartInstance.scales["y"];

        // chartInstance.chart is undefined
        //var canvas = chartInstance.chart;
        // console.log(canvas);
        // var ctx = canvas.ctx;
        var index;
        var line;
        var style;

        const { ctx, chartArea: { top, right, bottom, left, width, height }, scales: { x, y } } = chartInstance;
        ctx.save();
        // console.log("ctx : %o", ctx);
        ypix = y.getPixelForValue(16);
        // console.log("y pixel : %f", ypix);
        ctx.strokeStyle = 'green';
        ctx.strokeRect(120, ypix, 200, 5);


        if (chartInstance.options.horizontalLine) {
          for (index = 0; index < chartInstance.options.horizontalLine.length; index++) {
            line = chartInstance.options.horizontalLine[index];

            if (!line.style) {
              style = "rgba(169,169,169, .6)";
            } else {
              style = line.style;
            }

            if (line.y) {
              yValue = yScale.getPixelForValue(line.y);
            } else {
              yValue = 0;
            }

            ctx.lineWidth = 3;

            if (yValue) {
              ctx.beginPath();
              ctx.moveTo(left, yValue);
              ctx.lineTo(left + width, yValue);
              ctx.strokeStyle = style;
              ctx.stroke();
            }

            if (line.text) {
              ctx.fillStyle = style;
              ctx.fillText(line.text, left, yValue - ctx.lineWidth - 6);
            }
          }
          // ctx.restore();
          return;
        }
      }
    };

    // Chart.register(horizontalArbitraryLine);


    // config 
    const config = {
      type: 'line',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true,
            type: 'linear',
            position: 'left'
          },
          y2: {
            //beginAtZero: true,
            type: 'linear',
            position: 'right',
            grid: {
              drawOnChartArea: false
            },
            ticks: {
              callback: function(value, index, values) {
                return  `${value}%`;
              }
            }
          }
        },
        "horizontalLine": [{
          "y": 12,
          "style": "#ff0000",
          "text": "upper-limit"
        }, {
          "y": 10,
          "style": "#00ff00",
          "text": "avg"
        }, {
          "y": 5,
          "style": "#0000ff",
          "text": "lower-limit"
        }],
      },
      plugins: [horizontalLinePlugin, displayPictPlugin]

    };

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );
  </script>

</body>

</html>